<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ICurrencyService" />
    <binding name="BasicHttpBinding_ICurrencyService1" />
   </basicHttpBinding>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ICurrencyService" />
   </wsHttpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost:8000/CurrencyService" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_ICurrencyService" contract="CurrencyServiceRef.ICurrencyService"
    name="WSHttpBinding_ICurrencyService" />
   <endpoint address="http://localhost:8733/Design_Time_Addresses/CurrencyService/Service1/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyService"
    contract="ServiceReference1.ICurrencyService" name="BasicHttpBinding_ICurrencyService" />
   <endpoint address="http://localhost:8733/Design_Time_Addresses/CurrencyService/Service1/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyService1"
    contract="CurrencyServiceRef.ICurrencyService" name="BasicHttpBinding_ICurrencyService1" />
  </client>
	</system.serviceModel>
</configuration>
